body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background-color: #e5eff5;
  max-height: 100vh; }
body .grid-comp {
  width: 44.2361111%;
  height: auto;
  margin: 10.4166666667% 27.8819444444%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.45);
  max-width: 707.7777776px; }
@media only screen and (min-width: 1601px) {
  body .grid-comp {
    margin: 10.4166666667% auto; } }
@media only screen and (max-width: 1200px) {
  body .grid-comp {
    margin: 10.4166666667% auto;
    width: 60%; } }
@media only screen and (max-width: 900px) {
  body .grid-comp {
    margin: 10.4166666667% auto;
    width: 65%; } }
@media only screen and (max-width: 800px) {
  body .grid-comp {
    margin: 10.4166666667% auto;
    width: 70%;
    grid-template-columns: 100%;
    grid-template-rows: 100%; } }
@media only screen and (max-width: 600px) {
  body .grid-comp {
    margin: 15% auto;
    width: 80%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 100%; } }
body .grid-comp .top-sec {
  background-color: white;
  grid-column: span 2;
  padding: 7.23270440252% 6.2893081761%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }
@media only screen and (max-width: 800px) {
  body .grid-comp .top-sec {
    grid-column: 1 / 2; } }
body .grid-comp .top-sec h2 {
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  color: #2ab2af; }
body .grid-comp .top-sec h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: 'Karla', sans-serif;
  color: #c0df34; }
body .grid-comp .top-sec p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: 'Karla', sans-serif;
  color: #98a6bd;
  margin-bottom: 0px;
  padding-bottom: 0px; }
body .grid-comp .left-sec, body .grid-comp .right-sec {
  padding: 7.07547169811% 10%;
  padding-bottom: 14%; }
@media only screen and (max-width: 800px) {
  body .grid-comp .left-sec, body .grid-comp .right-sec {
    padding-bottom: 10%; } }
@media only screen and (max-width: 1300px) {
  body .grid-comp .left-sec, body .grid-comp .right-sec {
    padding-bottom: 12%; } }
body .grid-comp .left-sec p, body .grid-comp .right-sec p {
  color: white; }
body .grid-comp .left-sec strong, body .grid-comp .right-sec strong {
  color: white; }
body .grid-comp .left-sec strong span, body .grid-comp .right-sec strong span {
  color: white;
  opacity: 0.8;
  font-weight: lighter; }
body .grid-comp .left-sec h4, body .grid-comp .right-sec h4 {
  color: white;
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
  letter-spacing: -0.05rem; }
body .grid-comp .right-sec {
  background-color: #4bbebc;
  border-bottom-right-radius: 0.5rem; }
@media only screen and (max-width: 800px) {
  body .grid-comp .right-sec {
    border-bottom-left-radius: 0.5rem; } }
body .grid-comp .right-sec p {
  margin: 0px 0px;
  font-family: 'Karla', sans-serif;
  opacity: 0.9;
  font-size: 0.9rem;
  line-height: 1.35rem; }
body .grid-comp .left-sec {
  background-color: #2ab2af;
  border-bottom-left-radius: 0.5rem; }
@media only screen and (max-width: 800px) {
  body .grid-comp .left-sec {
    border-bottom-left-radius: 0rem; } }
body .grid-comp .left-sec strong {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: 'Karla', sans-serif;
  font-weight: 500; }
body .grid-comp .left-sec strong span {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 700; }
body .grid-comp .left-sec p {
  margin-bottom: 2rem;
  font-family: 'Karla', sans-serif; }
body .grid-comp .left-sec a {
  color: white;
  background-color: #c0df34;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5); }
body .grid-comp .left-sec a:hover {
  background-color: #b8d630; }
body footer {
  display: flex;
  justify-content: center;
  align-items: center; }
body footer p {
  text-align: center; }
